<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    
</head>
<body>
    <div id="app">
        <header>
        <h1 v-text="sitename"></h1>
        <button v-on:click="showCheckout">
            <!-- 'cartItemCount' is used the same way as a data property. -->
            {{ cartItemCount }}
            <!-- add the cart icon -->
            <span class="fas fa-cart-plus"></span> Checkout
            </button>

        </header>
        <main>
            <div v-if="showProduct">
            <figure>
                <img v-bind:src="product.image" style="width: 100px;">
            </figure>
            <h2 v-text="product.title"></h2>
            <p v-html="product.description"></p>
            <!-- The double curly brackets is used instead of 'v-text' -->
            <p>Price: {{product.price}}</p>
            <button v-on:click="addtocart" v-if="canAddToCart">Add to cart</button>
            <button disabled='disabled' v-else>Add to cart</button>

        </div>
        <div v-else>
            <!-- the code for the checkout page -->
            <p>
                <strong>First Name:</strong>
                <input v-model="order.firstName"/>
            </p>
            <p>
                <strong>Last Name:</strong>
                <!-- This input field is bound to 'lastName' in the 'order' object -->
                <input v-model="order.lastName"/>
               </p>

               <p>
                <strong>Address:</strong>
                <!-- This input field is bound to 'lastName' in the 'order' object -->
                <input v-model="order.address"/>
               </p>

               <p>
                <strong>City:</strong>
                <!-- This input field is bound to 'lastName' in the 'order' object -->
                <input v-model="order.city"/>
               </p>

               <p>
                <strong>State:</strong>
                <select v-model="order.state">
                    <option disabled value=""></option>
                    <option>AL</option>
                    <option>BL</option>
                    <option>CL</option>
                    <option>DL</option>
                </select>
               </p>

               <P>
                <strong>Zip/Postal Code:</strong>
                <input v-model="order.zip"/>
               </P>

               <h2>Order Information</h2>
               <p>First Name: {{order.firstName}}</p>
               <p>Last Name: {{order.lastName}}</p>
               <p>Address: {{order.address}}</p>
               <p>City: {{order.city}}</p>
               <p>State: {{order.state}}</p>
               <p>Zip/Postal Cose: {{order.zip}}</p>
            </div>

        </main>
        </div>

        <script type="text/javascript">
            var webstore = new Vue({
            el: '#app', // <=== Don't forget this comma
            data: { // the 'data' option
            showProduct:true,
            // the key 'sitename' matches the value of 'v-text' earlier
            sitename: 'Vue.js Pet Depot',
            order: {
                 
                
            },
            product: {

                id: 1001,
                title: "Cat Food, 25lb bag",
                description: "A 25 pound bag of <em>irresistible</em>," + "organic goodness for your cat.",
                price: 2000,
                image: "image/OIP.jpeg",
                availableInventory:5

            },
            cart:[]
            },
            methods: {
                addtocart: function(){
                    this.cart.push(this.product.id);
                },
                showCheckout() {
                     this.showProduct = this.showProduct ? false : true
                }
            },
            computed: {
                 cartItemCount: function() {
                 return this.cart.length || "";
             },
                canAddToCart: function() {
                return this.product.availableInventory > this.cartItemCount;
             }
         }

            });
            </script>
            
    
</body>
</html>